{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@react-native-community",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react"
  ],
  "settings": { 
    "react": { 
      "version": "detect" 
    }
  },
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["dist/**", "node_modules/**"],
  "parserOptions": {
    "ecmaFeatures": {
      "tsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
  }
}
